@import '~@reactor/react-components/lib/index.css';

$gap = 8*$px;

// Attempts to follow SUIT conventions https://suitcss.github.io/

body {
  padding: 12*$px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

th,
td {
  text-align: left;
  padding-bottom: $gap;
}

.Label {
  display: inline-block;
  line-height: 36*$px !important;
}

.FieldSubset {
  padding: 0 0 8*$px 26*$px;
}

.Field {}

.Field--short {
  width: 150*$px;
}

.Field--long {
  width: 320*$px;
}

.Accordion {
  // UX wanted to allow multiple sections to be open at once therefore each section is its own
  // accordion. We apply negative margin so their borders overlap.
  margin-bottom: -1px;
}

// We can't use :first-child and :last-child pseudo-selectors because the Accordions are wrapped
// by a coralreactwrapper element:
// https://git.corp.adobe.com/Coral/coralui-support-react#limitations
.Accordion--first {
  border-top: 0;
}

.Accordion--last {
  border-bottom: 0;
}

.ColumnGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 780*$px;
}

.ColumnGrid-cell {
  margin-right: 10*$px;
  margin-bottom: 8*$px;
  width: 285*$px;
}

.u-gapLeft {
  margin-left: $gap !important;
}

.u-gapLeft2x {
  margin-left: $gap*2 !important;
}

.u-gapRight {
  margin-right: $gap !important;
}

.u-gapRight2x {
  margin-right: $gap*2 !important;
}

.u-gapTop {
  margin-top: $gap !important;
}

.u-gapTop2x {
  margin-top: $gap*2 !important;
}

.u-gapBottom {
  margin-bottom: $gap !important;
}

.u-gapBottom2x {
  margin-bottom: $gap*2 !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-italic {
  font-style: italic !important;
}

.u-hidden {
  visibility: hidden !important;
}

.u-noWrap {
  white-space: nowrap !important;
}

.u-floatLeft {
  float: left !important;
}

.u-clearFix {
  clearfix();
}

.coral-Heading {
  line-height: 36*$px !important;
}

.u-buttonReset {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  user-select: none;
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
